<div class="modal-header">
  <ng-container [ngSwitch]="modalType">
    <h4 *ngSwitchCase="enums.ModalType.Report" class="modal-title" id="modal-basic-title">Report</h4>
    <h4 *ngSwitchCase="enums.ModalType.Task" class="modal-title" id="modal-basic-title">Task</h4>
  </ng-container>
  
  
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="text">Text</label>
      <div class="input-group">
        <input id="text" [(ngModel)]="text" class="form-control" placeholder="Write you message" name="txt" type="text">
      </div>
    </div>
    <div *ngIf="modalType === enums.ModalType.Task" class="form-group">
      <label for="dateOfBirth">Due date</label>
      <div class="input-group">
        <input id="dateOfBirth" [ngModel]="date" (ngModelChange)="onDateChange($event)" class="form-control"
         placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="save()">Save</button>
</div>