<div class="jumbotron">
  <div class="container text-center">
    <h3 class="mb-5">Employee List</h3>
    <ul *ngIf="employees$ | async as employees">
      <div class="row margin-top-10" *ngFor="let employee of employees">
        <div class="col-md-2">{{employee.firstName}}</div>
        <div class="col-md-2">{{employee.lastName}}</div>
        <div class="col-md-2">{{employee.position | enumKey:enums.EmployeePosition}}</div>
        <div class="col-md-2">
          <a [routerLink]="['/employee', employee.id]">
            <span class="btn btn-primary">View</span>
          </a>
        </div>
      </div>
    </ul>
  </div>
</div>
