<div class="row d-flex align-items-center">
  <div class="col-md-3">
    <img class="img-thumbnail">
  </div>
  <div class="col-md-9">
    <div class="row mb-2">
      <span class="col-md-3">Name:</span>
      <span class="col-md-3">{{employee | fullName}}</span>
    </div>
    <div class="row">
      <span class="col-md-3">Position:</span>
      <span class="col-md-9">{{employee.position | enumKey:enums.EmployeePosition}}</span>
    </div>
    <hr>
    <div *ngIf="manager$ | async as manager" class="row d-flex align-items-end">
      <span class="col-md-3">Manger:</span>
      <span class="col-md-6">{{manager | fullName}}</span>
      <span class=col-md-3>
        <app-modal [modalType]="enums.ModalType.Report" (save)="onSave($event)"></app-modal> 
      </span>
    </div>
  </div>
</div>
